Dapper.Aggregater.v12.suo
*.pdb
*.dll
*.xml
*.cache
*.txt
*.exe
Dapper.Aggregater.SampleConsoleApp/bin/Debug/Dapper.Aggregater.SampleConsoleApp.exe.config
Dapper.Aggregater.SampleConsoleApp/bin/Debug/Dapper.Aggregater.SampleConsoleApp.vshost.exe.config
