Dapper.Aggregator.v12.suo
*.pdb
*.dll
*.xml
*.cache
*.exe
Dapper.Aggregator.SampleConsoleApp/bin/*
Dapper.Aggregator.SampleConsoleApp/obj/*
Dapper.Aggregator/obj/*
Dapper.Aggregator/DapperExtensions.cs~RF217514e3.TMP
Dapper.Aggregator.suo
/.vs/Dapper.Aggregator/v15
