<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.data>
    <DbProviderFactories>
      <add name="Compact Sql Data Provider" invariant="System.Data.SqlServerCe" description=".Net Framework Data Provider for Compact Sql" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
    </DbProviderFactories>
  </system.data>
  
  
  <connectionStrings>
    <add name="Default" connectionString="Data Source=..\..\..\ExternalFiles\SampleDB.sdf;password=sql" providerName="System.Data.SqlServerCe"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
